.dist
coremods
crash-reports
journerymap
local
logs
patchouli_books
saves
schematics
screenshots
server-resource-packs
*.dll
*.zip
*.log
*.png
observable_announce
patchouli_data.json
rhino.local.properties
*.ini
usercache.json
usernamecache.json
enigmatic_persistence.dat