.dist
coremods
crash-reports
journeymap
local
logs
patchouli_books
saves
schematics
screenshots
server-resource-packs
*.dll
/*.zip
*.log
observable_announce
patchouli_data.json
rhino.local.properties
*.ini
usercache.json
usernamecache.json
enigmatic_persistence.dat
mods/.connector/*
mods/.index/*
.bobby
ct_dumps
TrashSlotSaveState.json
supportercache.json
.vscode
.curseclient
.qmenu_opened.marker
blueprints/*
minecraftinstance.json
/*.rar
servers.dat
servers.dat_old
.idea
kubejs/README.txt
.blinkload
backups
observable_profiles

!resourcepacks/*.zip
!resourcepacks/*.rar
!shaderpacks/*.zip
!shaderpacks/*.rar

# Игнорировать все .png файлы
*.png

# Но не игнорировать .png внутри kubejs
!kubejs/**/*.png
